<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CN Employee Review System | Back-end</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg mb-2">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Employee Feedback System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/feedbacks">Feedbacks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/feedbacks/new">Add Feedback</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/users/feedbacks">Requested Feedbacks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/logout">Log Out</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <% if(success.length > 0) {%>
        <% for(let i = 0; i < success.length; i++) {%>
          <div class="alert alert-success"><%= success[i] %></div>
        <% } %>
      <%}else if(error) {%>
        <% for(let i = 0; i < error.length; i++) {%>
          <div class="alert alert-warning"><%= error[i] %></div>
        <% } %>
      <% } %>

